body {
    padding: 0;
    margin: 0;
    height: 100%;
}

div.page-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.row {
    display: flex;
    flex-direction: row;
}