//colors
$web-black: rgb(34,34,34);
$web-black-half: rgba(34,34,34, 0.8);
$web-white: rgb(190,190,190);
$web-blue: rgb(82, 82, 145);

//fonts
$font-main: "Radnika Medium";
$font-def: "Segoe UI";

//paddings
$padding-def: 2vh;

//sizes
$size-header: 4vh;
$size-def: 2vh;

//border
$border-def: 2px solid $web-black;
$border-invert: 2px solid $web-white;
$border-transparent: 2px solid transparent;
$border-radius-def: 7px;
$border-radius-small: 3px;

@keyframes reflection-black {
/*  0% {
    background: $web-black;
  }
  5% {
    background: $web-white;
  }
  10% {
    background: $web-black;
  }
  30% {
    background: $web-black;
  }
  80% {
    background: $web-white;
  }
  100% {
    background: $web-black;
  }*/
  0% {
    background: $web-black;
  }

  25% {
    background: $web-white;
  }

  50% {
    background: $web-black;
  }

  75% {
    background: $web-white;
  }

  100% {
    background: $web-black;
  }
}

div.header-end {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  background: $web-blue;
  background-image: url("../../src/img/longpic2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  scroll-behavior: smooth;
  user-select: none;
  user-modify: none;
}

div.page-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: $size-header;
  font-family: $font-main;
  font-style: normal;
  font-weight: lighter;
  padding: 1vh;
}

.warning h1 {
  font-size: 2vh;
  flex: 5;
}

p {
  font-size: $size-def;
  font-family: $font-def;
  margin: 0 auto;
  text-align: center;
  max-width: 70vw;
}

header {
  top: 0;
  flex:1;
  display: flex;
  padding: $padding-def;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  background: $web-black;
  position: sticky;
}

header.warning {
  flex: 0;
}

header, article, button {
  color: $web-white;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.update-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: $border-radius-def;
  transition: 1s all linear;
}

div.white-line {
  width: 80%;
  height:1px;
  background: $web-white;
  margin: 0 auto;
  margin-top: $padding-def;
  margin-bottom: $padding-def;
}

div.navigation-container {
  max-height: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
}

div.empty {
  background: transparent;
  height: 100vh;
}

#back-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}

#back-image {

}

button.navigation {
  border: $border-invert;
  background: $web-black;
  border-radius: $border-radius-def;
  padding: $padding-def;
  transition: 0.03s all ease-in;
}

button.article-navigation {
  height: 100%;
  border: $border-invert;
  background: transparent;
  border-radius: $border-radius-def;
  padding: $padding-def;
  transition: 0.03s all ease-in;
}

button.article-navigation:focus {
  border: $border-transparent;
  background: $web-white;
  transition: 0.03s all ease-out;
  color: $web-black;
}

button.navigation:hover, button.article-navigation:hover {
  border: $border-transparent;
  background: $web-white;
  transition: 0.03s all ease-out;
  color: $web-black;
}

ul.button-list, ul.button-column-list {
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: center;
  padding: 1vh;
}

ul.button-column-list li {
  margin: 1vh;
}

ul.button-list li {
  float: left;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

button.article {
  width: 10vw;
  height: 10vw;
  background: $web-black;
  color: $web-white;
  font-family: $font-def;
  font-size: $size-header;
  border-radius: $border-radius-small;
  border: none;
  transition: 0.09s all ease-out;
}

button.premiere {

  width: 20vw;
  height: 30vw;
  background: $web-black;
  color: $web-white;
  font-family: $font-def;
  border-radius: $border-radius-small;
  font-size: $size-header;
  border: none;
  transition: 0.09s all ease-out;

}

button.article:hover {
  background: $web-white;
  color: $web-black;
  transform: perspective(10cm) rotateY(25deg) ;
  transition: 1.2s all ease-out;
}

  button.premiere:hover {

  background: rgb(160,160,160);
  color: $web-black;
  //transform: perspective(15cm) rotateY(10deg);


    transition: 0.09s all ease-out;
}

img {
  max-width: 20vw;
}

img.item, svg.item {
  width:100%;
  height:100%;
}

svg.logo, img.logo {
  max-width: 8vh;
  padding: 1vh;
}

article {
  max-width: 100%;
  margin: $padding-def;
  padding: $padding-def;
  background: $web-black;
  border-radius: $border-radius-def;
}

article.half-transparent {
  background: $web-black-half;
}

.column {
  flex-direction: column;
  max-width: 20%;
  margin-right: 1vw;
  margin-left: 1vw;
}

@media screen and (min-width: 240px) and (max-width: 760px) {
  header.warning h1 {
    font-size: 3vw;
  }

  button.article-navigation p {
    display: none;
  }

  button.article-navigation {
    height: 100%;
    width: inherit;
  }

  ul.button-list li {

  }

  header {
    justify-content: space-between;
  }

  ul.button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button.article-navigation:nth-child(3n+1) {
    
  }
}