

@font-face {
  font-family: "Radnika Medium";
  src: url("../../src/fonts/radnika/Radnika-Medium.otf");
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../src/fonts/segoe/segoe-bold.ttf");
}

@font-face {
  font-family: "Chisel Mark";
  src: url("../../src/fonts/chiselMark/chisel-mark.ttf");
}

@font-face {
  font-family: "Montserrat Blackk";
  src: url("../../src/fonts/montserrat-font/moserrat-black.ttf");
}

//colors
$web-black: black ;
$web-black-half: rgba(34,34,34, 0.8);
$web-black2-half: rgba(0,0,0, 0.8);
$web-white: rgb(190,190,190);
$web-blue: rgb(167, 183, 208);
$web-gray: rgb(100,100,100);

//fonts
$font-main: "Radnika Medium";
$font-def: "Radnika Medium";

//paddings
$padding-def: 1em;

//sizes
/*$size-header: 4vh;
$size-def: 3vh;*/
$size-large: 5em;
$size-header: 1.7em;
$size-def: 1.5em;
$size-small: 1em;

//border
$border-def: 2px solid $web-black;
$border-invert: 2px solid $web-white;
$border-white-line: 1px solid $web-white;
$border-transparent: 2px solid transparent;
$border-radius-def: 1em;
$border-radius-small: 1em;

@keyframes reflection-black {
/*  0% {
    background: $web-black;
  }
  5% {
    background: $web-white;
  }
  10% {
    background: $web-black;
  }
  30% {
    background: $web-black;
  }
  80% {
    background: $web-white;
  }
  100% {
    background: $web-black;
  }*/
  0% {
    background: $web-black;
  }

  25% {
    background: $web-white;
  }

  50% {
    background: $web-black;
  }

  75% {
    background: $web-white;
  }

  100% {
    background: $web-black;
  }
}

div.header-end {
  display: none;
}

.no-height-disturb {
  max-width: 100%;
  height: auto;
}

.horizontalize {
  text-align: center;
}

.light {
  background-color: $web-white;
  color: $web-black
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  background: $web-blue url("../../src/img/longpic2.png") no-repeat;
  background-size: 100%;
  scroll-behavior: smooth;
  user-select: none;
  user-modify: none;
  min-width: 320px;
}

div.page-container {
  display: flex;
  flex-direction: column;
}

.absolute {
  position: absolute;
}

.left {
  float: left;
  left: 0.4vw;
}

.slide-navigation {
  border: none;
  color: $web-white;
  background: transparent;
  text-shadow: 0 0 10px $web-black;
  -webkit-text-stroke: 0 black;
  font-size: 2*$size-large;
  align-self: center;
  max-height: unset !important;
  min-width: unset !important;
  opacity: 0.3;
  transform: scale(1.0);
  transition: 0.65s opacity, transform ease-in;
}

.slide-navigation:active {
  transition: 0s opacity, transform ease-in-out;
  opacity: 1;
  transform: scale(1.1) ;
}

.slide-line-list li{

  min-width: 3vw;
  max-width: 3vw;
  min-height: 0.4vh;
  max-height: 0.4vh;
  transform: scale(1);
  margin: 0.4vw;
  border-radius: $border-radius-small;
  background: $web-white;
  transition: 0.65s all ease-in-out;
  display: inline-block;
}

.slide-line-list {
  padding: 0;
  background: none;
  bottom: 12%;
  left: 40%;
  right: 40%;
  align-items: center;
  text-decoration: none;
  text-align: center;
  float: left;
}

/*@keyframes slide-line-going {
  0% {
    background: linear-gradient(90deg,$web-blue, $web-white);
  }
  100% {
    background: linear-gradient(90deg,$web-blue, $web-blue);
  }
}*/


.right {
  float: right;
  right: 0.4vw;
}

.absolute .right {
  right: 0;
}

.slide-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  align-items: center;
  pointer-events: inherit;

}

h1 {
  font-size: $size-header;
  font-family: $font-main;

  font-weight: bold;
}

.warning h1 {
  font-size: 2vh;
  flex: 5;
}

div.color-layer {
  margin: auto;
  padding: 20px;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 200;

  background: rgba(34,34,34, 0.6);
}

.large-text {
  font-size: $size-large;
}

.header-text {
  font-size: $size-header;
}

div.disclaimer {
  margin: auto;
  padding: 20px;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  left: 0;
  right: 0;
  min-width: 50%;
  max-height: 100%;
  color: #fff;
  z-index: 200;
  display: flex;
  flex-direction: column;
  background: $web-black;
  border-radius: $border-radius-def;
}

div.disclaimer h1 {
  margin: 0 auto;
  font-size: 3vw;
}

div.disclaimer ul {
  align-self: center;
}

p {
  font-size: $size-def;
  font-family: $font-def;
  margin: 0 auto;
  text-align: center;
  max-width: 70vw;
}

.sign-form {
  display: flex;
  flex-direction: column;
  min-height: 60%;
  max-height: 60%;
  padding: 1em;
}

.sign-form input {
  background: $web-white;
  color: black;
  border-radius: $border-radius-small;
  width: 100%;
  height: 70%;
  margin: 0.8em;
  padding: 0.8em;
  font-size: $size-header;
  font-family: $font-main;
  border: $border-transparent;
  text-align: center;
  align-self: center;
}

.sign-form input:focus {
  outline: $border-invert;
  background: black;
  color: $web-white;
  transition: 0.06s all linear;
}

header, footer {
  top: 0;
  flex:1;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  padding-left: 3*$padding-def;
  padding-right: 3*$padding-def;
  background: $web-black;
  position: sticky;
  z-index: 10;
}

.mobile {
  display: none;
}

footer {
  flex-direction: column;
  color: $web-white;
  align-items: center;
}

footer a {
  color: $web-gray;
  transition: none;
  text-align: left;
  max-width: 100%;
}

footer a:hover {
  color: $web-blue;
}

footer p {
  font-size: $size-small;
}

footer h1 {
  font-size: $size-small;
  margin-bottom: 2vh;
}

footer p {
  text-align: left;
}

footer .white-line {
  min-width: 100%;
}

footer {
  padding: 0;
  margin: 0;
}

.top-sticky {
  position: sticky;
  top: 0;
}

.bg-black {
  background: $web-black;
}

.full-width {
  min-width: 100%;
}

.footer-part {
  min-width: 90%;
  justify-content: space-between;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.footer-part h1 {
  text-transform: uppercase;
}

.footer-part ul.button-column-list, .footer-part li {
  min-width: 100%;
}

button {
  text-transform: uppercase;
}

header.warning {
  flex: 0;
  justify-content: center;
  z-index: -1;
}

header, article, button {
  color: $web-white;
}

.blue {
  color: $web-blue;
}

.footer-part p {
  word-break: break-word;
}

.footer-part  {
  flex-direction: row;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.update-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: $border-radius-def;
  transition: 1s all linear;
}

div.white-line {
  width: 80%;
  height:1px;
  background: $web-white;
  margin: 0 auto;
  margin-top: $padding-def;
  margin-bottom: $padding-def;
}

div.navigation-container {
  max-height: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
}

div.empty {
  background: transparent;
  height: 100vh;
}

#back-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}

#back-image {

}

button.navigation {
  border: $border-invert;
  background: $web-black;
  border-radius: $border-radius-def;
  padding: $padding-def;
  transition: 0.03s all ease-in;
}

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s all linear;
  opacity: 0;
}

.black {
  background: $web-black;
}

@keyframes slide-left {
  0% {
    transform: translateX(10px);
  }
  100% {

  }
}

button.article-navigation, button.text-navigation, button.hamburger, button.underline-navigation {
  vertical-align: center  ;
  border: $border-invert;
  background: transparent;
  border-radius: $border-radius-def;
  padding: $padding-def;
  height: 100%;
  transition: 0.06s all ease-in;
}

.less-container {
  max-height: 10%;
}

button.text-navigation, button.hamburger, button.underline-navigation {
  border: $border-transparent
}

button.navigation:hover, button.article-navigation:hover, button.text-navigation:hover, button.hamburger:hover {
  border: $border-transparent;
  background: $web-white;
  transition: 0.06s all ease-out;

  color: black;
}

button.underline-navigation::after, button.underline-navigation::after {
  content: '';
  display: block;
  height: 1px;
  background-color: $web-blue;
  width: 100%;
  text-align: center;
  margin-top: 20px;

  transform: scale(0);
  transition: 0.1s all;
}

button.underline-navigation:hover::after, button.underline-navigation:hover::after {
  transform: scale(1) ;
  transition: 0.6s all;
}

button.underline-navigation:hover {
  color: $web-blue;
  transition: 0.1s all;
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearing {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes appearing-no-blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}

.appear {
  opacity: 1;
  transition: opacity 1s !important;
  -webkit-transition: opacity 1s !important;
  -moz-transition: opacity 1s !important;
}

ul.button-list, ul.button-column-list, ul.text-button-list {
  list-style: none;
  padding: 0;
  vertical-align: center;
}


ul.button-column-list li {
  margin: 1vh;
}

ul.button-list li, ul.text-button-list li {
  float: left;
  margin-left: 0.2vw;
  margin-right: 0.2vw;
}

#vertical ul.text-button-list li {
  float: left;
  margin: 2vw;
  display: block;

}

button {
  font-size: 18px;
  font-family: $font-def;
  font-weight: 600;
  color: $web-white;
  text-transform: uppercase;
}

button.article {
  width: 10vw;
  height: 10vw;
  background: $web-black;
  color: $web-white;
  font-family: $font-def;
  font-size: $size-header;
  border-radius: $border-radius-small;
  border: none;
  transition: 0.09s all ease-out;
}

@keyframes fromSideToSide {
  0% {
    transform: translateY(0);
    filter: blur(0);
  }
  50% {
    filter: blur(2px 45deg);
  }
  100% {
    transform: translateY(1vh);
    filter: blur(0px);

  }
}

.bottom-marked {
  border-bottom: $border-white-line;
}

.top-marked {
  border-top: $border-white-line;
}

button.premiere, button.premiere-moving {
  height: 15rem;
  width: 15rem;
  background: $web-black;
  color: $web-white;
  font-family: $font-def;
  border-radius: $border-radius-small;
  font-size: $size-header;
  border: $border-transparent;
  transition: 0.09s all ease-out;

}

button.premiere-moving {

}

button.premiere-moving:hover {
  border: $border-invert;
  transition: 2s border ease-out;
  animation: 0.9s fromSideToSide alternate ease-in-out infinite;
}

button.article:hover {
  background: $web-white;
  color: $web-black;
  transform: perspective(10cm) rotateY(25deg) ;
  transition: 1.2s all ease-out;
}

  button.premiere:hover {

  background: rgb(160,160,160);
  color: $web-black;
  //transform: perspective(15cm) rotateY(10deg);


    transition: 0.09s all ease-out;
}

img {
  max-width: 20vw;
}

img.item, svg.item {
  width:100%;
  height:100%;
}

svg.logo, img.logo {
  max-width: 12%;
  display: inline;
  padding: 0;
  margin: 0;
  text-align: center;
  align-self: center;
}

button.premiere:hover svg, button.article-navigation:hover svg, button.text-navigation:hover svg, button.hamburger:hover svg,  button.premiere:hover img, button.article-navigation:hover img, button.text-navigation:hover img, button.hamburger:hover img {
  fill: black;
  stroke: $web-white !important;
  transition: 0.03s all ease-out;
}

svg.mobile, img.mobile {
  width: 100%;
  height: 100%;
  display: none;
  stroke: $web-black !important;
  fill: $web-white;
  margin: 0;
}

article {
  max-width: 100%;
  margin: $padding-def;
  padding: $padding-def;
  background: $web-black;
  border-radius: $border-radius-def;
}

article.half-transparent {
  background: $web-black-half;
}

article.full-screen, a {
  margin: 0;
  padding: 0;
  transition: 0.3s all linear;
  border-radius: 0;
}

.promo-container {
  position: relative;
  display: inline-block;
  justify-content: center;
  background-color: $web-black;
  border-radius: $border-radius-def;
  overflow: hidden;
  width: 60%;
  min-height: 60%;
}

a img {
  color: $web-white
}

a img {
  mask-image: linear-gradient(blue, blue);
  transition: 1s all linear;
}


.promo {
  background-color: black;
  max-width: 100%;
  min-width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0;
}

.column {
  flex-direction: column;
  max-width: 40%;
  text-align: left;
}

button.hamburger {
  display: none
}

lol {

}

.img-desc {
  display: flex;
  flex-direction: column;
  flex: content;
  position: absolute;
  padding: $padding-def;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: $web-black2-half;
  border: $border-radius-def;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
  word-break: break-word;
  font-size: $size-def/1.3;
  font-family: $font-def;
  align-items: flex-end;
}

.no-back {
  background: none;

}

.img-desc h1 {
  max-width: 60%;
  align-self: center;
  vertical-align: center;
}

.img-desc button {
  vertical-align: center;
  align-self: center;
  max-height: 100%;
  max-width: 60%;
  font-size: $size-def/2;
}

.vertical {
  flex-direction: column;
}

.vertical-list {
  float: none;
}

.centered selector {
  align-self: center;
}

.img-desc button {
  transition: 0.0s all linear;
  font-size: $size-def;
}

a {
  color: $web-white;
  position: center;
}

a:active {
  color: $web-white;
}

a:visited {
  color: $web-white;
}

@media screen and (min-width: 240px) and (max-width: 760px) {
  button.premiere, button.premiere-moving {
    height: 5rem;
    width: 5rem;
  }

  .promo {
  }

  header[name="main-header"] ul li button {

  }

  header[name="main-header"] ul:nth-child(2) li {
    display: none;
  }

  svg.mobile, img.mobile {
    display: block;
  }

  .mobile {
    display: block;
  }

  button.article-navigation {
    font-size: 0;
  }

  .full-screen .row:nth-child(n+2) .promo-container .img-desc h1 {
    display: none;
  }

  .full-screen .row:nth-child(n+2) .promo-container .img-desc button {
    min-width: 100%;
    min-height: 100%;
  }

  .footer-part {
    flex-direction: column;
  }

  header > ul > li h1 {
    font-size: 2em;
  }

  .full-screen h1 {
    font-size: 0.8em;
  }

  p {
  }

  .warning p {
    font-size: 14px;
  }

  button.hamburger {
    display: block;
    max-height: 100%;
  }

  header.warning h1 {
    font-size: 3vw;
  }

  button.article-navigation p, button.text-navigation p {
    display: none;
  }

  button.article-navigation, button.text-navigation {
    height: 100%;
    width: inherit;
    padding: 2vw;
  }

  header ul li {
    max-width: 20%;
  }

  @keyframes appear {
    from {
      display: none;
    }
    to {
      display: block;
    }
  }

  @keyframes button-anim {
    0% {
      border-color: white;
    }

    50% {
      border-color: black;
    }

    100% {
      border-color: white;
    }
  }

  article.full-screen {

    transition: 1s all linear;
  }

  ul.text-button-list li {
    margin: 0;
  }

  header ul.button-list {
    justify-content: space-between;
    margin: 0.1rem;
  }

  ul.button-list, ul.text-button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button.article-navigation:nth-child(3n+1) {

  }

  button.slide-navigation.absolute {
    max-height: unset !important;
    min-width: unset !important;
    font-size: 5em !important;
  }

  .img-desc button {
    font-size: unset;
    max-width: unset;
  }

}

@media screen and (min-width: 0px) and (max-width: 240px) {
  body {
    display: grid;
  }
}